/**
  * Some common css theme variables and they will be used in the tailwind theme as well.
*/

:root {
  /*--rp-nav-height: 72px;*/
  /*--rp-sidebar-width: 320px;*/
  /*--rp-aside-width: 268px;*/
}

:root {
  --rp-c-bg: 0, 0%, 100%;
  --rp-c-bg-soft: 0, 0%, 98%;
  --rp-c-bg-mute: 0, 0%, 95%;

  --rp-c-divider: 0, 0%, 24%, 0.29;
  --rp-c-divider-light: 0, 0%, 24%, 0.12;

  --rp-c-text-1: 208, 37%, 20%;
  --rp-c-text-2: 0, 0%, 24%, 0.66;
  --rp-c-text-3: 0, 0%, 24%, 0.33;
  --rp-c-text-4: 0, 0%, 24%, 0.18;

  --rp-c-text-code: 199, 24%, 36%;

  --rp-c-brand: 216, 60%, 59%;
  --rp-c-brand-light: 200, 100%, 50%;
  --rp-c-brand-lighter: 215, 100%, 96%;
  --rp-c-brand-dark: 212, 100%, 50%;
  --rp-c-brand-darker: 215, 55%, 44%;
  --rp-c-brand-tint: 223, 100%, 75%, 0.16;

  --rp-c-gray: 0, 0%, 56%;
  --rp-c-gray-light-1: 0, 0%, 68%;
  --rp-c-gray-light-2: 0, 0%, 78%;
  --rp-c-gray-light-3: 0, 0%, 82%;
  --rp-c-gray-light-4: 0, 0%, 90%;
  --rp-c-gray-light-5: 0, 0%, 95%;

  --rp-c-dark: 0, 0%, 0%;
  -rp-c-dark-light-1: 0, 0%, 18%;
  --rp-c-dark-light-2: 0, 0%, 23%;
  --rp-c-dark-light-3: 0, 0%, 29%;
  --rp-c-dark-light-4: 0, 0%, 36%;
  --rp-c-dark-light-5: 0, 0%, 42%;

  /*--rp-radius: 1rem;*/
  /*--rp-radius-small: 0.5rem;*/
  --rp-radius-large: 1.5rem;
}

.dark {
  --rp-c-bg: 220, 15%, 16%;
  --rp-c-bg-soft: 0, 0%, 18%;
  --rp-c-bg-mute: 0, 0%, 23%;
  --rp-c-bg-alt: 0, 0%, 0%;

  --rp-c-divider: 0, 0%, 33%, 0.65;
  --rp-c-divider-light: 0, 0%, 33%, 0.48;

  --rp-c-text-1: 0, 0%, 100%, 0.87;
  --rp-c-text-2: 0, 0%, 92%, 0.56;
  --rp-c-text-3: 0, 0%, 92%, 0.38;
  --rp-c-text-4: 0, 0%, 92%, 0.18;

  /*!* Will be used in overview page *!*/
  --rp-c-text-code: 209, 59%, 87%;
}

:root {
  /*--rp-z-index-local-nav: 10;*/
  /*--rp-z-index-nav: 20;*/
  /*--rp-z-index-backdrop: 30;*/
  /*--rp-z-index-sidebar: 40;*/
}

:root {
  --rp-shadow-1: 0 1px 4px rgba(0, 0, 0, 0.02), 0 1px 0 rgba(0, 0, 0, 0.06);
  --rp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --rp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --rp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --rp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}

html {
  scroll-behavior: smooth;
}

.glow {
  animation: move 5s linear infinite;
  background: radial-gradient(#67e8f9, #115e59, transparent);
  offset-path: rect(0% auto 100% auto);
}

.keyboard-shortcut {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.015rem;
  border: 1px solid var(--rp-c-text-2);
  border-radius: 3px;
  box-shadow: 0 1px 0 0 var(--rp-c-text-2);
  padding: 0.8px 6px;
  color: var(--rp-c-text-1);
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  50% {
    offset-distance: 50%;
  }

  100% {
    offset-distance: 100%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  hr {
    @apply border-b-[0.4px] items-center w-full opacity-20 !py-4 flex;
  }

  ol {
    & a {
      & h2 {
        @apply lg:text-lg text-base font-bold tracking-tight !my-0;
      }
      & p {
        @apply text-sm tracking-tight;
      }
    }
  }

  p {
    & strong {
      @apply !py-4;
    }
  }
  sup {
    @apply text-xs text-[var(--rp-c-brand)];
  }

  #footer-copyright {
    @apply container mx-auto  flex flex-col lg:gap-2 gap-1 pb-6 items-center justify-center;
    & p {
      @apply text-xs tracking-tight;
    }

    & a {
      @apply underline decoration-[var(--rp-c-brand)] hover:brightness-125 hover:text-[var(--rp-c-brand)]  transition-all underline-offset-4 decoration-dashed;
    }
  }

  .h1 {
    @apply lg:text-4xl text-2xl text-center py-10 font-bold;
  }
  .h2 {
    @apply lg:text-3xl text-xl text-center py-4 lg:py-8 font-bold;
  }
  .h3 {
    @apply lg:text-2xl text-xl text-center py-6 font-semibold;
  }

  .link {
    @apply underline decoration-[var(--rp-c-brand)] hover:brightness-125 hover:text-[var(--rp-c-brand)]  transition-all underline-offset-4 decoration-dashed;
  }
}
