name: CI

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 24

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      # Install dependencies
      - uses: pnpm/action-setup@v4
        with:
          version: 10.17.1
          run_install: false
      - name: Install dependencies
        run: pnpm i

      # Run Linting
      - name: Run linting
        run: pnpm lint

      # Run the build
      - name: Run build
        env:
          ZE_SECRET_TOKEN: ${{ secrets.ZEPHYR_AUTH_TOKEN }}
        run: pnpm build

      - name: Zephyr deploy summary
        uses: ZephyrCloudIO/zephyr-preview-environment-action@main
        id: zephyr-summary
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
